<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Erwine.Leonard.T.RexT.Web.Service1AspNetAjaxBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
              <behavior name="Erwine.Leonard.T.RexT.Web.Service1MetaDataBehavior">
                <serviceMetadata httpGetEnabled="true"/>
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Erwine.Leonard.T.RexT.Web.Service1" behaviorConfiguration="Erwine.Leonard.T.RexT.Web.Service1MetaDataBehavior">
                <endpoint address="" behaviorConfiguration="Erwine.Leonard.T.RexT.Web.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Erwine.Leonard.T.RexT.Web.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
